



<p>
  <strong>Time:</strong>
  <%= @booking.time %>
</p>

<p>
  <strong>Address</strong>
  <%= @booking.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @booking.contact %>
</p>

<%= link_to 'Back', service_path(@service) ,class: "btn btn-secondary text-white"  %>